<!DOCTYPE html>
<html lang="fr" data-ng-app="ServiceApp">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="js/ServiceApp.js"></script>
    <script src="js/ServiceController.js"></script>
    <title>Services</title>
</head>
<body style="background-color: dodgerblue" data-ng-controller="ServiceController as ctrl">
    <h1 style="color:white; text-align: center; width: 15%; margin-left: 5%">Services</h1>
    <div class="panel panel-info" style="width:15%;margin-left: 5%">
        <div class="panel-heading">Choisissez les éléments à inclure.<br/> <b>{{ctrl.nbSelect}} services sélectionnés</b></div>
    </div>

    <div style="line-height: 40px; width:15%; margin-left: 5%; color:white">
        <button data-ng-repeat="service in ctrl.services" data-ng-class="{'alert alert-info':service.active, 'alert alert-warning':!service.active}" data-ng-click="ctrl.toggleActive(service); ctrl.CalcTotal(service)"
                type="button" style="width:100%;"><div style="float: left">{{service.name}}</div> <div style="float: right">{{service.price}}€</div></button><br/>
        <hr />
        <p style="float: left">Total: </p> <p style="float:right">{{ctrl.total}}€</p>
        <br/>
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="checkbox" aria-label="Checkbox for following text input" data-ng-model="ctrl.checkbox">
                </span>
                <input type="text" class="form-control" aria-label="Text input with checkbox" data-ng-model="ctrl.codeRemise">
            </div>
        <div style="float: left">Remise</div> <div style="float: right">{{ctrl.getRemise()}}€</div>
        <br/>
        <div style="float: left">Total avec remise</div> <div style="float: right">{{ctrl.totalR}}€</div>
    </div>
</body>
</html>